header h1 {
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    margin-top: 0;
    font-size: 3rem;
}

header {
  background-color: rgb(185, 187, 187);
  padding: 0px;
  margin: 0;
}

.requestDiv {
  width: 50%;
  margin: 2em auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(185, 187, 187);
  box-shadow: 10px 5px 5px #2c3e50;
}

.requestDiv h2 {
  display: inline-block;
  margin-top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.requestButton {
  display: inline-block;
  margin-left: 5px;
  padding: 3px 6px;
  font-size: 1rem;
  cursor: pointer;
}

body{
  background-color: #5c6d7e;
  margin: 0;
}

html{
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  background-color: #ccc;
}