#allRequests{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 25px auto;
}

#gridItem1{
  grid-column: 1;
  grid-row: 1;
}
#gridItem2{
  grid-column: 2;
  grid-row: 1;
}

#gridItem3{
  grid-column: 1;
  grid-row: 2;
}

#gridItem4{
  grid-column: 2;
  grid-row: 2;
}

#gridItem5{
  grid-column: span 2;
  grid-row: 3;
}

header h1 {
  color: #2c3e50;
  font-family: 'DM sans', sans-serif;
  letter-spacing: -3px;
  margin-top: 0;
  font-size: 3rem;
}

header {
  background-color: #d0d4d8;
  padding: 0px;
  margin: 0;
}

.requestDiv {
  width: 500px;
  margin: 2em auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #d0d4d8;
  box-shadow: 10px 5px 5px #2c3e50;
}

.requestDiv h2 {
  display: inline-block;
  margin-top: 0;
  font-family: 'DM sans', sans-serif;
  color: #1c1c1c;
}

.requestDiv:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.678);
  transition: .015s ease;
}
.requestButton {
  display: inline-block;
  margin-left: 5px;
  padding: 3px 6px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4a5f78;
  color: white;
}

.requestButton:hover {
  background-color: #5c6d7e;
  color: #ccc;
  transition: ease .25s;
  width: 25px;
  height: 25px;
}

body{
  background: linear-gradient(135deg, #546b7a, #1d344b);
  font-family: 'DM sans', sans-serif;
  background-color: #5c6d7e;
  margin: 0;
}

html{
  margin: 0;
  padding: 0;
}
input[type="text"], input[type="number"] {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 80%;
  font-size: 14px;
}
input:focus {
  outline: none;
  border: 2px solid #2c3e50;
  box-shadow: 0 0 5px #2c3e50;
}

li {
  align-items: center;
  list-style-type: none;
  font-family:'DM sans', sans-serif;
  background-color: #e5e7eb;
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 4px 8px;
  font-size: .9rem;
}

form{
  display: flex;
  flex-direction: column;
}

form input {
  font-family: 'DM sans', sans-serif;
  width: 450px;
  margin: 5px auto;
  margin-bottom: 10px;
  
}

form button {
  font-family: 'DM sans', sans-serif;
  border: none;
  background-color: #4a5f78;
  color: white;
  margin: 0 auto;
  width: 250px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  height: 20px;
}

form button:hover{
  cursor: pointer;
  background-color: #5c6d7e;
  color: #ccc;
  transition: ease .25s;
  width: 275px;
  height: 30px;
  
}

.statusMessage{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 1420px){
  #allRequests{
    display: block;
  }
  
}